project:
  type: website

website:
  title: "reinsurance-world"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
    search: true
    background: light

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



